<%= form_with url: url, method: :post do |f| %>
    <div>
        <%= f.label :file, "Choose a file to upload" %>
        <%= f.file_field :file %>
    </div>
    <div>
        <%= f.submit "Submit" %>
    </div>
<% end %>