<%= form_with url: url, method: :post, data: { turbo: false } do |f| %>
    <div>
        <%= f.label :file, "Choose a file to upload" %>
        <%= f.file_field :file, required: true %>
    </div>
    <div>
        <%= f.submit "Submit" %>
    </div>
<% end %>